USE [master]
GO
/****** Object:  Database [IOCL]    Script Date: 10-02-2025 11:18:08 ******/
CREATE DATABASE [IOCL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IOCL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IOCL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IOCL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IOCL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IOCL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IOCL]
GO
/****** Object:  Table [dbo].[Completed]    Script Date: 10-02-2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Completed](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [varchar](10) NOT NULL,
	[CompletedTraining] [varchar](20) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10-02-2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpNo] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FatherName] [nvarchar](100) NOT NULL,
	[EmpDepartment] [nvarchar](100) NOT NULL,
	[EmpDesignation] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Sex] [char](1) NOT NULL,
	[Reporting] [varchar](3) NOT NULL,
	[ControllingEmp] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotCompleted]    Script Date: 10-02-2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotCompleted](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [varchar](10) NOT NULL,
	[Code] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecurringTraining]    Script Date: 10-02-2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecurringTraining](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [varchar](10) NOT NULL,
	[TrainingID] [varchar](20) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporting]    Script Date: 10-02-2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporting](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [varchar](10) NOT NULL,
	[Reporting] [varchar](10) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
 CONSTRAINT [PK__Reportin__C3A4D3AC1CD8B7D6] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 10-02-2025 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[TrainingID] [varchar](20) NOT NULL,
	[TrainingName] [nvarchar](100) NOT NULL,
	[Duration(Days)] [int] NOT NULL,
	[Venue] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NULL,
	[Validity(Months)] [int] NULL,
 CONSTRAINT [PK__Training__E8D71DE246840143] PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Completed]  WITH CHECK ADD  CONSTRAINT [FK_Completed_Employee] FOREIGN KEY([EmpNo])
REFERENCES [dbo].[Employee] ([EmpNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Completed] CHECK CONSTRAINT [FK_Completed_Employee]
GO
ALTER TABLE [dbo].[Completed]  WITH CHECK ADD  CONSTRAINT [FK_Completed_Training] FOREIGN KEY([CompletedTraining])
REFERENCES [dbo].[Training] ([TrainingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Completed] CHECK CONSTRAINT [FK_Completed_Training]
GO
ALTER TABLE [dbo].[NotCompleted]  WITH CHECK ADD  CONSTRAINT [FK_NotCompleted_Employee] FOREIGN KEY([EmpNo])
REFERENCES [dbo].[Employee] ([EmpNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotCompleted] CHECK CONSTRAINT [FK_NotCompleted_Employee]
GO
ALTER TABLE [dbo].[RecurringTraining]  WITH CHECK ADD  CONSTRAINT [FK_RecurringTraining_Employee] FOREIGN KEY([EmpNo])
REFERENCES [dbo].[Employee] ([EmpNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecurringTraining] CHECK CONSTRAINT [FK_RecurringTraining_Employee]
GO
ALTER TABLE [dbo].[RecurringTraining]  WITH CHECK ADD  CONSTRAINT [FK_RecurringTraining_Training] FOREIGN KEY([TrainingID])
REFERENCES [dbo].[Training] ([TrainingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecurringTraining] CHECK CONSTRAINT [FK_RecurringTraining_Training]
GO
ALTER TABLE [dbo].[Reporting]  WITH CHECK ADD  CONSTRAINT [FK_Reporting_Employee] FOREIGN KEY([Reporting])
REFERENCES [dbo].[Employee] ([EmpNo])
GO
ALTER TABLE [dbo].[Reporting] CHECK CONSTRAINT [FK_Reporting_Employee]
GO
ALTER TABLE [dbo].[Reporting]  WITH CHECK ADD  CONSTRAINT [FK_Reporting_Manager] FOREIGN KEY([EmpNo])
REFERENCES [dbo].[Employee] ([EmpNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reporting] CHECK CONSTRAINT [FK_Reporting_Manager]
GO
ALTER TABLE [dbo].[Completed]  WITH CHECK ADD  CONSTRAINT [CHK_Date_Validation] CHECK  (([FromDate]<[ToDate]))
GO
ALTER TABLE [dbo].[Completed] CHECK CONSTRAINT [CHK_Date_Validation]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Reporting]='No' OR [Reporting]='Yes'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Sex]='F' OR [Sex]='M'))
GO
ALTER TABLE [dbo].[RecurringTraining]  WITH CHECK ADD  CONSTRAINT [CHK_RecurringTraining_Dates] CHECK  (([FromDate]<[ToDate]))
GO
ALTER TABLE [dbo].[RecurringTraining] CHECK CONSTRAINT [CHK_RecurringTraining_Dates]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [CK__Training__Durati__3B75D760] CHECK  (([Duration(Days)]>(0)))
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [CK__Training__Durati__3B75D760]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [CK__Training__Validi__3C69FB99] CHECK  (([Validity(Months)]>(0)))
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [CK__Training__Validi__3C69FB99]
GO
USE [master]
GO
