@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<!-- Hero Section -->
<header class="hero">
    <div class="container text-center text-white">
        <h1>Fueling Progress, Powering the Nation – IndianOil's Commitment to <span class="highlight">Excellence.</span></h1>
    </div>
</header>

<!-- Introduction Section -->
<section class="introduction">
    <div class="container">
        <h2>About Us</h2>
        <p>
            Our vision is to be the 'Energy of India' and to become 'A globally admired company.' As we step into an era of transformation, we are broadening our horizons, expanding across new vistas, and infusing new-age dynamism among our employees. Our journey, which began with the merger of Indian Oil Corporation Ltd. and Indian Refineries Ltd. in 1964, has been guided by our core values of Care, Innovation, Passion, and Trust. These values embody the collective conscience of IndianOil and its people, steering us towards our North Star - being the Energy of India and Globally Admired.
        </p>
    </div>
</section>

<!-- Features Section -->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="feature-box">
                    <img src="~/images/img1.jpg" alt="Energy">
                    <h3>Energising the Nation’s Ascent</h3>
                    <p>IndianOil's relentless pursuit of excellence has garnered prestigious accolades across the global stage. The company is the leading oil and gas PSU from India featuring on 116 position in the Fortune 'Global 500' list. It has maintained its leadership in the ‘BW Top 500’ for the third consecutive year and has been recognized as the most respected oil and gas company by Business World.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-box">
                    <img src="~/images/img2.jpg" alt="Sustainable">
                    <h3>Vision for a Sustainable Future</h3>
                    <p>IndianOil is steadfast in its commitment to shaping the future of energy. The company has set a visionary goal to achieve operational Net-Zero Emissions by 2046, aligning with India’s broader target of Net-Zero by 2070. This ambitious objective highlights IndianOil's dedication to setting new benchmarks in environmental sustainability.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Back to Top Button -->
<section class="backtotop">
    <div class="container text-center">
        <button id="backToTopBtn" class="btn btn-secondary">Move back to top</button>
    </div>
</section>

<script>
    document.getElementById("backToTopBtn").addEventListener("click", function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>